



    
    body{
      border: 1px solid gray;
      background-color: white;
      border-radius: 8px;
      position: center;
    }
    
    
    
    
    
    h5 {
    overflow: hidden;
    text-align: center;
}
h5:before,
h5:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
h5:before {
    right: 0.5em;
    margin-left: -50%;
}
h5:after {
    left: 0.5em;
    margin-right: -50%;
}
    .b{ 
      
      
      
      height: 0.9cm;
  padding: 12px;
  border: none;
background-color:  #3897f0;
color: #fff;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 0px;
  margin: 0px ;
  opacity: 0.85;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  line-height: 0px;
  width: 75%;
  border-radius: 4px;
  text-decoration-color: white;
}  
.a{ 
      
     
  width: 7cm;
      height: 0.9cm;
  padding: 12px;
  border: none;
background-color: #3897f0 ;
color: #fff;
font-family: 'Times New Roman', Times, serif;
  border-radius: 4px;
  margin: 0px ;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 0px;
  
  
  
  text-decoration-color: white;
}
 
 
 

 
 
 .d{ background-color: white;
 height: 25px;
 border: none;
font-size: 15px;
font-family: 'Times New Roman', Times, serif;
   
   
 }
 
.aniket{
  background-color: green;
}
